<div class="centered">
  <div class="column">
    <div>
      Ce site a été pensé par:
    </div>
    <ul>
      <li>Franz</li>
    </ul>
    <br>
    <div>et développé par:</div>
    <ul>
      <li>JP</li>
    </ul>
  </div>
</div>
