<h1> Bienvenue sur cette application de documentation de fou</h1>

<div>
  Vous pourrez consulter la documentation de plusieurs Softwares
</div>

Liste des softwares:
<div class="border">
  <% softwares.each do |software| %>
    <div> <%= "-> #{software.name}" %> </div>
    <div> Les versions en ligne </div>
    <ul>
      <% software.online_versions.each do |version| %>
        <li> <%= link_to version.name, version_path(version) %> </li>
      <% end %>
    </ul>
  <% end %>
</div>