<h1> ESPACE ADMIN</h1>
<h1> PROFIL <%= account.name %></h1>

<div class="centered">
  <div> Bienvenue sur votre page Administrateur</div>
  <br>
  <div>Vos informations :</div>

  <div class="column">
    <div><%= account.name %></div>
    <div><%= account.email %></div>
    <div><%= account.password %></div>
  </div>

</div>
