<div class="interactions">
  <br>
  <% interactions.each do |interaction| %>
    <div class="column border">
      <div class="space-between">
        <div>Nom : <%= interaction.name %></div>
        <div>Titre : <%= interaction.title %></div>
        <div>Responsable : <%= interaction.role.name %></div>
      </div>
      Description : <%= interaction.description %>
    </div>
    <br>
  <% end %>
</div>
