<div class="values">
  <% values.each do |value| %>
    <div class="border">
      <div>Texte : <%= value.text %></div>
      <div>Description : <%= value.description %> </div>
    </div>
    <br>
  <% end %>
</div>
