<div class="centered">
  <div class="column">
    <div>
      <ul>
        <li> Name : <%= user.name %> </li>
        <li> Description : <%= user.description %> </li>
      </ul>
    </div>
  </div>
</div>
