<div class="centered">

  <h1>Properties# <%= property.name %></h1>
  <br>
  <div> <%= link_to(version.full_name, version_path(version)) + " > " + link_to(concept.name, version_concept_path(version, concept)) + " > " + property.name %> </div>

  <br><br>
  <div class="">
    <ul>
      <%= render partial: 'properties/list', locals: { property: property } %>
    </ul>
  </div>

  <br><br>
  <h4>Interactions :</h4>
  <%= render partial: 'interactions/list', locals: { interactions: property_interactions } %>
</div>
