<h3>SHOW Software</h3>

<ul>
  <li>Id: <%= @software.id %> </li>
  <li>Name: <%= @software.name %> </li>
  <li>Description: <%= @software.description %> </li>
  <li>Date de création: <%= @software.created_at.to_date %> </li>
</ul>
