<div class="centered">
  <div class="column">
    <div>
      <ul>
        <li> Name : <%= role.name %> </li>
        <li> Description : <%= role.description %> </li>
      </ul>
    </div>
  </div>
</div>
